# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo.
* @samet-akcay @ashwinvaidya17 @rajeshgangireddy

# CI/CD
/.devcontainer                                              @ashwinvaidya17
/.github                                                    @ashwinvaidya17
/.dockerignore                                              @ashwinvaidya17
/.github/workflows/                                         @open-edge-platform/geti-ci-maintain
/.github/actions/                                           @open-edge-platform/geti-ci-maintain
/SECURITY.md                                                @open-edge-platform/geti-ci-maintain
/.semgrepignore                                             @open-edge-platform/geti-ci-maintain
/.github/renovate.json5                                     @open-edge-platform/geti-ci-maintain

# Docs
/docs                                                       @samet-akcay
/examples                                                   @samet-akcay @ashwinvaidya17 @rajeshgangireddy

# Notebooks
/examples/notebooks/01_getting_started                     @samet-akcay
/examples/notebooks/02_data                                @ashwinvaidya17 @rajeshgangireddy
/examples/notebooks/03_models                              @samet-akcay
/examples/notebooks/04_metrics                             @ashwinvaidya17 @rajeshgangireddy
/examples/notebooks/05_loggers                             @samet-akcay @ashwinvaidya17
/examples/notebooks/06_visualization                       @samet-akcay @ashwinvaidya17
/examples/notebooks/07_deployment                          @ashwinvaidya17 @rajeshgangireddy
/examples/notebooks/README.md                              @samet-akcay

# Requirements
/requirements/                                              @samet-akcay @ashwinvaidya17  @rajeshgangireddy

# Anomalib
/src/anomalib/callbacks                                     @ashwinvaidya17 @rajeshgangireddy
/src/anomalib/cli                                           @ashwinvaidya17
/src/anomalib/data                                          @ashwinvaidya17 @rajeshgangireddy
/src/anomalib/deploy                                        @ashwinvaidya17  @rajeshgangireddy
/src/anomalib/engine                                        @ashwinvaidya17  @rajeshgangireddy
/src/anomalib/loggers                                       @ashwinvaidya17
/src/anomalib/metrics                                       @ashwinvaidya17 @rajeshgangireddy
/src/anomalib/models                                        @samet-akcay @ashwinvaidya17 @rajeshgangireddy
/src/anomalib/pipelines                                     @ashwinvaidya17
/src/anomalib/post_processing                               @ashwinvaidya17 @rajeshgangireddy
/src/anomalib/pre_processing                                @ashwinvaidya17 @rajeshgangireddy
/src/anomalib/utils                                         @ashwinvaidya17 @rajeshgangireddy @samet-akcay
/src/anomalib/visualization                                 @samet-akcay @ashwinvaidya17


# Anomalib Studio
/application/ui                                             @ashwinvaidya17
/application/backend                                        @ashwinvaidya17 @rajeshgangireddy
/application/backend/uv.lock                                @ashwinvaidya17 @rajeshgangireddy @sys-geti
/application/docker/Dockerfile                              @ashwinvaidya17 @rajeshgangireddy @sys-geti
/application/binary/tauri/src-tauri/Cargo.lock              @ashwinvaidya17 @sys-geti

# Tests
/tests/                                                     @samet-akcay @ashwinvaidya17 @rajeshgangireddy

# Misc
/CHANGELOG.md                                               @samet-akcay @ashwinvaidya17 @rajeshgangireddy
/pyproject.toml                                             @samet-akcay @ashwinvaidya17 @rajeshgangireddy
/README.md                                                  @samet-akcay @ashwinvaidya17 @rajeshgangireddy
/setup.py                                                   @samet-akcay @ashwinvaidya17 @rajeshgangireddy
/third-party-programs.txt                                   @samet-akcay @ashwinvaidya17 @rajeshgangireddy
/tox.ini                                                    @samet-akcay @ashwinvaidya17 @rajeshgangireddy
/uv.lock                                                    @samet-akcay @ashwinvaidya17 @rajeshgangireddy @sys-geti

# Tools
/tools/experimental                                         @ashwinvaidya17
/tools/tiled_ensemble                                       @samet-akcay @ashwinvaidya17 @rajeshgangireddy
/tools/inference                                            @samet-akcay @ashwinvaidya17 @rajeshgangireddy
